@charset "utf-8";

/* 사이트 전체 여백, 링크 밑줄 제거 및 폰트 지정
 ----------------------------------- */

* {
    margin: 0;
    padding: 0;
    font-family: 'NanumBarunGothic', "나눔바른고딕", "맑은고딕", "Helvetica";
}

body {
    width: auto;
}

a {
    text-decoration: none;
}

/* 상단 bar 상단 고정
--------------------------------------------*/
#header {
    width: 100%;
    height: 150px;
    background:#fff;
    position:fixed;
    left:0; top:0;
    z-index:100000;
}
/* 내용 영역과 상단 bar 사이 간격 조정
-------------------------------------------*/
#container{
    text-align:center;
    margin-top:150px;
}

/* 상단 바 영역 나누기 - menu1 = 회색 라인*/
#menu1{
    width:100%;
    height:30%;
    background:#eee;
    padding:0px;
}
/* menu1 영역 나누기 왼쪽 : 로그인메뉴 */
#menu1 #menu1_login{
    display: inline-block;
    border-right:1px solid #ccc;
    width:60%;
    padding-right:20px;
    text-align:right;
}
/* menu1 영역 나누기 오른쪽 : 나머지메뉴 */
#menu1 #menu1_others{
    display: inline-block;
    width:38%;
}

#menu1 a{
    margin:0 10px;
    font-size:1em;
    font-weight:bold;
    color:#000;
}
#menu1 #bean_button img{
    vertical-align:middle;
    width:70px;
    height:45px;
}

/* 상단 바 영역 나누기 - menu2 = 화이트 라인 : 정식 메뉴 */
#menu2{
    width:100%;
    height:70%;
}