@charset "utf-8";

/* 사이트 전체 여백, 링크 밑줄 제거 및 폰트 지정
 ----------------------------------- */

* {
    margin: 0;
    padding: 0;
    font-family: 'NanumBarunGothic', "나눔바른고딕", "맑은고딕", "Helvetica";
}

body {
    width: auto;
}

a {
    text-decoration: none;
}

/* 상단 bar 상단 고정
--------------------------------------------*/
#header {
    width: 100%;
    height: 150px;
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100000;
}

/* 내용 영역과 상단 bar 사이 간격 조정
-------------------------------------------*/
#container {
    text-align: center;
    margin-top: 150px;
}

/* 로그인 영역 (bean 버튼 누르면 나타나는 부분)
---------------------------------------------*/
#header #login{
    width:auto;
    height:120px;
    background:#2F1C11;
    text-align:center;
}
#header #login div{
    display:inline;
    font-size:1.3em;
    color:#fff;
    line-height:600%;
    letter-spacing:-1px;
}
#header #login a{
    font-size:0.9em;
    padding:8px 65px;
    line-height:200%;
    border:1px solid #fff;
}
#header #login #loginsection_login{
    margin-left:200px;
    background:#fff;
    color:#2F1C11;
}
#header #login #loginsection_join{
    margin-left:10px;
    color:#fff;
}

/* 상단 바 영역 나누기 - menu1 = 회색 라인*/
#menu1 {
    width: 100%;
    height: 30%;
    background: #eee;
    padding: 0px;
}

/* menu1 영역 나누기 왼쪽 : 로그인메뉴 */
#menu1 #menu1_login {
    display: inline-block;
    border-right: 1px solid #ccc;
    width: 58%;
    padding-right: 20px;
    text-align: right;
}

/* menu1 영역 나누기 오른쪽 : 나머지메뉴 */
#menu1 #menu1_others {
    display: inline-block;
    width: 38%;
}

#menu1 a {
    margin: 0 10px;
    font-size: 1em;
    font-weight: bold;
    color: #000;
}

#menu1 #bean_button img {
    vertical-align: middle;
    width: 70px;
    height: 45px;
}

/* 상단 바 영역 나누기 - menu2 = 화이트 라인 : 정식 메뉴 */
#menu2 {
    width: 100%;
    height: 70%;
}



/* 검색 영역 (검색 버튼 누르면 나타나는 부분)
---------------------------------------------*/
#header #search_div{
    margin:auto;
    width:1300px;
    height:35px;
    background:#eee;
    line-height:200%;
    text-align:center;
    padding:25px 0;
}
#header #search_div #search_form .input_css{
    width:90%;
    height:30px;
    border:none;
    background:none;
    font-size:0.9em;
    text-align: center;
}
#header #search_div button{
    display:inline-block;
    width:25px;
    height:25px;
    vertical-align:middle;
    border:none;
    text-indent:-10000px;
    background: url(../img/search.PNG) no-repeat center center;
    margin-left:20px;
}




/* 팝업 레이어 스타일 속성 */
.emphasized {
    width: 500px;
    height: 625px;
    position: fixed;
    top: 10%;
    left: 35%;
    background: #000;
    box-shadow :  rgba(0,0,0,0.5) 2px 2px 3px 3px;
    z-index: 200001;
    text-align: right;
}
/* 팝업에 들어가는 이미지 크기 조정 */
.emphasized img {
    width: 500px;
    height: 600px;
}
/* 팝업 최하단 닫기 메뉴 */
.emphasized div {
    cursor: pointer;
    padding: 3px 10px;
    color: #fff;
    font-weight: bold;
}
/* 팝업 시 뒤에 뿌려지는 배경 dimBackground */
.backlayer{
    width:100%;
    height:100%;
    position:absolute;
    z-index:200000;
    top:0;
    left:0;
    background:#000;
    opacity: 0.6;
}