@charset "utf-8";

/* 내용역역 > MD's PICK 영역 크기 지정 및 배경 설정
 ----------------------------------- */
#mdspick {
    width: auto;
    height:700px;
}
#mdspick>h1 {
    font-size: 25px;
    font-weight: bold;
    padding-top: 50px;
    margin-bottom: 50px;
    color: #F38200;
}
#mdspick .product{
    font-size:1em;
    font-weight:bold;
    margin-bottom:15px;
}
#mdspick .price{
    font-size:0.9em;
    color: #F38200;
    margin-bottom:10px;
}
#mdspick .reprice{
    font-size:0.8em;
    text-decoration: line-through;
    margin-bottom:7px;
}

#mdspick .soldout{
    font-size:0.9em;
    width:40px;
    color: #F38200;
    border : 1px solid #F38200;
    margin:5px auto;
    font-weight:bold;
    padding:5px;
}
#mdspick .description{
    font-size:0.8em;
    color:#696969;
    margin-bottom:10px;
}
#mdspick .quickview{
    position:absolute;
    width:200px;
    margin-top:-100px;
    margin-left:-100px;
    background: #F38200;
    line-height:200%;
    color:#fff;
    font-weight:bold;
    font-size:1.1em;
}
#mdspick .hidden{
    display:none;
}